* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

#aboutme, #services, #works, #contactme {
  padding-top: 70px;
  margin-top: -70px;
}

body {
  background: #191A2B;
  color: #fff;
  font-family: SF Pro Display;
}

body.vectorImage {
  background-image: url('backgroundVector.svg'), url("footerbg.svg"), url('noise.svg');
  background-position: left top, left bottom, left top;
  background-repeat: no-repeat, no-repeat, repeat;
  background-size: contain, contain, contain;



  /* background-image: url('backgroundVector.svg'), url("footerbg.svg"), url('noise.svg');
  background-position: left top, left bottom, left top;
  background-repeat: no-repeat, no-repeat, repeat;
  background-size: contain, contain, contain; */
}

/* body.pink {
  background-image: url("color.svg");
  background-position: left top;
  background-repeat: no-repeat;

  backdrop-filter: blur(1000px);
  -webkit-filter: blur(1000px);
} */

.row {
  /* flex: 1;
  content: "";
  clear: both; */
  /* display: flex; */

  flex-direction: row;
}

#my-navbar {
  z-index: 100;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
  position: relative;
  position: fixed;
  /* Set the navbar to fixed position */
  top: 0;
  width: 100%;
  padding-left: 6rem;
  padding-right: 6rem;


  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}

.scrolled {
  background: #191A2B url('noise.svg') !important;
}

#contactme {
  /* z-index: -999999; */
}

#nav-right {
  float: right;
  display: block;
}

.grident-text {
  background: linear-gradient(to right, #FFEAA9, #FFAFB4, #C471ED);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#intro-box {
  margin-top: 140px;
  text-align: center;
}

.intro-text {
  font-size: 28px;
  font-weight: 600;
}

.intro-gradient {
  background: linear-gradient(45deg, #C471ED, #FFAFB4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro-line {
  margin-top: 40px;
  color: #767B96;
  padding-left: 20%;
  padding-right: 20%;
  font-size: 18;
  font-weight: 500;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* Navbar links */
#my-navbar>#nav-right>a {
  font-family: "SF Pro Text";
  color: #C2C5D7;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  text-decoration: none;
}


.hire-btn {
  align-self: center;
  border-radius: 12px;
  background: linear-gradient(to right, #FFA974, #FF7285 39.76%, #C750C3 120.48%);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  /* background-color: #4CAF50; */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
}

.social-btn {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 7px;
}


/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

/* For mobile phones: */
@media only screen and (max-width: 600px) {
  .padding-horizonal {
    padding-left: 50px;
    padding-right: 50px;
  }

  .aboutinfo {
    padding-left: 0px;
    text-align: left;
    padding-left: 6rem;
  }

  .spacer {
    width: 140px;
  }

}



@media only screen and (min-width: 600px) {
  .padding-horizonal {
    padding-left: 50px;
    padding-right: 50px;
  }

  .aboutinfo {
    padding-left: 140px;
    text-align: left;
    padding-left: 6rem;
  }

  .spacer {
    width: 140px;
  }

}

@media only screen and (min-width: 768px) {

  .padding-horizonal {
    padding-left: 140px;
    padding-right: 140px;
  }

  .aboutinfo {
    padding-left: 200px;
    text-align: left;
    padding-left: 6rem;
  }

  .spacer {
    width: 200px;
  }
}

.about-text {
  font-size: 38px;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.about-gradient {
  background: linear-gradient(45deg, #904967, #FD588E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text {
  font-size: 18px;
  color: #767B96;
}

/* 
.padding-horizonal {
  padding-left: 7rem;
  padding-right: 7rem;
} */

.resume-btn {
  margin-top: 30px;
  background-image: linear-gradient(#C750C3, #FF7285);
  /* border-width: 2px; */
  padding: 14px 26px;
  border-radius: 12px;
  color: #fff;
  /* border: none; */
  cursor: pointer;
  border: solid 3px transparent;
  background-origin: border-box;
  background-clip: content-box, border-box;

  box-shadow: 2px 1000px 1px #191A2B inset;
}

.photo-frame {
  padding: 9px;
  border-radius: 24px;
  background-image: linear-gradient(133.85deg, #FFA0A6 3.69%, #EBB8F6 44.84%, #86BEE7 106.84%);
}

#services {
  /* display: block; */
  margin-top: 120px;
}

.serviceinfo {
  font-size: 18px;
  color: #767B96;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}


.card-service {
  background: #202235;
  box-shadow: 69px 0px 100px rgba(16, 17, 31, 0.5);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: flex-start;
  padding: 26px 24px 48px;
  width: 304px;
  /* height: 257px; */
  margin: 20px;
}

.card-iconbox {
  background-color: #191A2B;
  width: 60px;
  height: 60px;
  padding: 20px;
  align-items: center;
  align-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* Dark/700 */
  background: #191A2B;
  border-radius: 20px;
}

.card-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  /* or 25px */
  /* Text/25 */
  color: #C2C5D7;
  /* Inside Auto Layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 16px 0px;
}

.card-body-text {
  font-weight: 500;
  font-size: 16px;
  /* Dark/200 */
  color: #767B96;
  order: 2;
  text-align: left;
  /* margin: 16px 0px; */
}

.work-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  /* or 53px */

  letter-spacing: -0.01em;


  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 20px 0px;
  justify-content: center;
}

.work-group {
  margin-top: 75px;
  margin-bottom: 75px;
  align-items: center;
}

.work-margin-bottom {
  margin-bottom: 20px;
}

#contactme {
  margin-top: 150px;
  display: block;
  justify-content: center;
  text-align: center;
}

.contact-box {
  /* Dark/600 */
  align-self: center;

  background: #202235;
  max-width: 700px;
  /* Dark/500 */

  border: 1px solid #2A2E44;
  box-sizing: border-box;
  box-shadow: 0px 10px 67px #1A1927;
  border-radius: 20px;
  margin: auto;
}

input, textarea {
  padding: 15px;
  background: rgba(25, 26, 43, 0.8);
  /* Dark/500 */
  border: 1px solid #2A2E44;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 14px;
  color: #C2C5D7;
  height: 48px;
  width: 100%;
}

label {
  text-align: left;
  width: 100px;
  margin-left: 0px;
  align-self: flex-start;
  padding-bottom: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */

  letter-spacing: -0.02em;

  /* Text/Default */

  color: #9DA0B6;
  margin-bottom: 6px;
}

.getintouch-text {
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
  /* or 38px */

  text-align: center;
  letter-spacing: -0.01em;

  color: #FFFFFF;
}

.getintouch-body {
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  /* or 29px */

  text-align: center;
  letter-spacing: -0.02em;

  /* Dark/200 */

  color: #767B96;
  margin-top: 20px;
  margin-bottom: 50px;

}

.footer {
  font-size: 16px;
  line-height: 160%;
  /* identical to box height, or 26px */

  letter-spacing: -0.02em;

  /* Dark/200 */

  color: #767B96;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 40px;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;

}

.work-box {
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-padding {
  padding-left: 33px;
}


.topnav {
  overflow: hidden;

  z-index: 100;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
  position: relative;
  position: fixed;
  top: 0;
  width: 100%;
  padding-left: 6rem;
  padding-right: 6rem;


  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #191A2B;
}

.topnav a.active {
  background-color: #191A2B;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {}

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


.hamcontainer {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 20px;
  height: 2px;
  background-color: #fff;
  margin: 3px 0;
  transition: 0.4s;
}



.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}